body{
    background-color: rgb(254, 251, 242);
}
h1{
    font-family: 'Nunito', sans-serif;
    font-size: 3em;
    color: rgb(254, 251, 242);
    background-color: rgb(220, 90, 62);
    padding-right: 30%;
    padding-left: 250px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: -2%;
    margin-left: -2%;
    margin-right: -2%;
}
h2{
    font-family: 'Raleway', sans-serif; 
    font-size: 4em;
    color: rgb(220, 90, 62);
    padding-left: 15px;
}
#p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(45, 60, 71);
    padding-left: 15px;
    margin-top: -20px;
    width: 60%;
}
#logo{
    width: 250px;
    float: left;
    }
/* phones */
@media only screen and (max-width: 600px){
body{
        background-color: rgb(254, 251, 242);
        font-size: 50%;
    }
h1{
        font-size: 2.5em;
        position: ;
        margin-top: -2%;
        letter-spacing: 10px;
        padding-bottom: 1%;
        padding-left: 110px;
        margin-right: -14%;
    }
#logo{
        margin-top: -5px;
        width: 100px;
        float: left;
    }   
nav{
        width: 100%;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5em;
        text-align: center;
        padding-right: 5%;
        padding-left: 5%;
        word-spacing: 2.9em;
        background-color: rgb(254, 251, 242);
        border-width: 100%;
        border-bottom: 2.5px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-color: rgb(220, 90, 62);
        border-style: solid;
        padding-bottom: 10px;
    }
a{
        color: rgb(220, 90, 62);
        text-decoration: none;
    }
a:hover { 
    color: lightgray;
    }
#p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(45, 60, 71);
    padding-left: 15px;
    padding-top: 5%;
    margin-top: -20px;
    width: 100%;
}
#p2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(220, 90, 62);
    padding-left: 15px;
    margin-top: 7.5%;
    padding-bottom: 0%;
    width: 60%;
}
#p3{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(220, 90, 62);
    padding-left: 15px;
    margin-top: 7.5%;
    padding-bottom: 0%;
    width: 60%;
}
#p4{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(220, 90, 62);
    padding-left: 15px;
    margin-top: 7.5%;
    padding-bottom: 0%;
    width: 60%;
}
#p5{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(220, 90, 62);
    padding-left: 15px;
    margin-top: 7.5%;
    padding-bottom: 0%;
    width: 60%;
}
#p6{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(220, 90, 62);
    padding-left: 15px;
    margin-top: 7.5%;
    padding-bottom: 0%;
    width: 60%;
}
#name{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(45, 60, 71);
    width: 105%;
    margin-top: 10%;
    }
#email{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(45, 60, 71);
    width: 105%;
    }
#message{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(45, 60, 71);
    width: 105%;
    padding-bottom: 25%;
    }
#btn{
    background-color: rgb(220, 90, 62);
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    border-style: none;
    padding: 2.5%;
    width: 50%;
    border-radius: 5px;
    color: rgb(254, 251, 242);
    text-align: center;
    margin-left: 29%;
    margin-bottom: 10%;
    }
#contact{
        margin-left: 5%;
        margin-top: -5%
    }
/* laptops */
@media only screen and (min-width: 900px) and (max-width:1200px){
    body{
        background-color: rgb(254, 251, 242);;
        font-size: 75%;
    }
    h1{
    letter-spacing: 5px;
    padding-left: 200px;
    padding-top: 10px;
    }
    #logo{
    margin-top: -205px;
    width: 100px;
    float: left;
    position: absolute;
    }   
}
/*          FONTS:
            font-family: 'Nunito', sans-serif;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Comfortaa', cursive;
            font-family: 'Raleway', sans-serif; 

            COLORS:
            Off-White: rgb(254, 251, 242);
            Orange Red: rgb(220, 90, 62);
            Mustard Color: rgb(246, 200, 104);
            Teal: rgb(124, 183, 188);
            Navy Blue: rgb(45, 60, 71);
*/