h1{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: rgb(175, 185, 200);
    border-radius: 15px;
    background-color: whitesmoke;
    float: left;
    width: 50%;
    margin-top: -150px;
    margin-left: 25px;
    padding: 5px;
    padding-top: 20px
}
a{
    color: darkgray;
}
body{
    color: lightblue;
    background-color: whitesmoke;
}
#p1{
    color: rgb(53, 63, 79);
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27.5px;
    margin-top: 250px;
    margin-left: 25px;
    margin-right: 22px;
    background-color: whitesmoke;
    padding-left: 15px;
    padding-bottom: 25px;
    border-radius: 0px 0px 0px 15px;
}
#img{
    float: right;
    width: 50%;
    width: 650px;
    height: 475px;
    margin-right: 22px;
    margin-top: -860px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 175px;
    padding-bottom: 183px;
    background-color: whitesmoke;
    border-radius: 0px 0px 15px 0px;
}
nav{
    text-align: right;
    font-family: 'Karla', sans-serif;
    width: 95%;
    float: right;
    border-radius: 0px 15px 0px 0px;
    word-spacing: 25px;
    margin-right: 22px;
    margin-top: -101.5px;
    padding-left: 3px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 90px;
    background-color: whitesmoke;
}
